@import "tailwindcss";

@import "../sections/home/styles.css";

:root {
  --primary: #a349a3;
  --secondary: #f06eaa;
  --foreground: #fff;
  --background: #000;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-helvetica-neue);
  --font-mono: var(--font-fira-code);
}

html {
  @apply select-none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fira-code);
}

::-webkit-scrollbar {
  @apply hidden;
}
