@import "tailwindcss";

:root {
  --primary: #a349a3;
  --secondary: #f06eaa;
  --background: #ffffff;
  --foreground: #181818;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-alexandria);
  --font-mono: var(--font-abel);
}

html {
  @apply select-none;
}

body {
  @apply h-svh lg:h-screen w-full overflow-hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-alexandria);
}

::-webkit-scrollbar {
  @apply hidden;
}
